<div class="row-fluid">
  <div class="span12">
    <legend>User Profile Management</legend>
   

    <div >worker id :  <%= @user.id %></div>


    <div>FirstName:    <%= @user.first_name %></div>


    <div >LastName:   <%=@user.last_name%></div>


    <div>Email:     <%= @user.email %></div>


    <div>Age:   <%=@user.age%></div>




  </div>
</div>





<%= link_to "Edit", edit_profile_path(@user), :class => "btn btn-primary" %>
</br>
