
<div class="panel panel-primary">
  <div class="panel-heading">User Profile Management</div>
   <div class="panel-body">
    <table class="table">
<p>
   <strong>vistor id:</strong>   
    <%= @user.id %>
</p>

  <p> 
  <strong>FirstName:</strong>    
    <%= @user.first_name %>

  </p>
  <p>
   <strong>LastName:</strong>   
    <%=@user.last_name%>
    </p>

<p>
    <strong>Email:</strong>     
    <%= @user.email %>
</p>
<p>
    <strong>Age:</strong>   
    <%=@user.age%>
</p>
<p>
<strong>Gender:</strong>
<%=@user.gender%>
</p>
</div>

  </div>
</div>

<%= link_to "Edit", edit_profile_path(@user), :class => "btn btn-primary" %>

<br/>