<%= render :partial => "layouts/slider"%>
<% @products.each do |p| %> 
  <div class="col-md-4">
    <p>
      <strong>Name:</strong>
      <%= p.name.capitalize %>
    </p>
    
    <p>
  <strong>Description:</strong>
   <%= p.description.capitalize %>
    </p>
    
    <p>
  <strong>Price:</strong>
  <%= p.price %>
    </p>
    <p>
  <strong>Category:</strong>
  <%= p.category.name.capitalize %>
    </p>
  
  <table>
  <% p.images.in_groups_of(3).each do |image| %>
    <tr>
      <%image.each do |img|%>
        <% if img.try(:avatar).present? && img.image_show? %>
          <td>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
   <%=image_tag img.avatar.url(:small),:style=>"width:300px;height:300px;" %>
</button>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>       
        <%end%>
      <%end%>
    </tr>
  <% end %>
</table> 
  </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style=".modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;
    </span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Images</h4>
      </div>
      <div class="modal-body">
      <table>

  <% p.images.in_groups_of(3).each do |image| %>
    <tr>
      <%image.each do |img|%>
        <% if img.try(:avatar).present? %>
          <td>
   <%=image_tag img.avatar.url(:small),:style=>"width:300px;height:300px;" %>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>       
        <%end%>
      <%end%>
    </tr>
  <% end %>
</table> 
      </div>
    </div>
  </div>
</div>
<% end %>

<style type="text/css">
.modal-dialog{
  width: 80%;
  height: 100%;
  padding: 0;
  margin: 30;
}
  </style>

