<h1>Listing products</h1>
<%= link_to 'New Product', new_admin_product_path, :class => "pull-right btn btn-primary" %>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <!-- <th>Image url</th> -->
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        
        <td><%= link_to 'Show', admin_product_path(product.id) %></td>
        <td><%= link_to 'Edit', edit_admin_product_path(product.id) %></td>
        <td><%= link_to 'Destroy', admin_product_path(product.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

