<% if current_admin  %>
<%= link_to 'Back', admin_products_path, :class => "pull-right  btn btn-primary" %>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @product.name.capitalize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description.capitalize %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
<strong>Category:</strong>
<%= @product.category.name.capitalize %>
</p>

<table>
  <%  @product.images.in_groups_of(3).each do |image| %>
    <tr>
   
      <%image.each do |img|%>
        <% if img.try(:avatar).present? %>
          <td>
            <%= image_tag img.avatar.url(:small),:style=>"width:300px;height:300px;" %>
          </td>
          <td>
           <%= link_to "destroy", delete_img_admin_product_path(img.id, :product_id => @product.id), :method => :delete, :data => {:confirm => "Are you sure to delete"} %>
       </td>

          <td>
          <% if img.image_show == true%>
          <%= link_to 'hide',image_show_admin_product_path(:id => @product.id, :image_id =>img, :image_show =>"false"), :method => "PUT" %>
          <% else %>
          <%= link_to 'show',image_show_admin_product_path(:id => @product.id, :image_id =>img,:image_show =>"true"), :method => "PUT" %>
          <% end %>
          </td>

          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        <%end%>
      <%end%>
    </tr>
  <% end %>
</table>
<p>
