<!DOCTYPE html>
<html lang="en">
  
  
  <head>
<!--  <title>ShoppingCartExample</title> -->
   <title><%= content_for?(:title) ? yield(:title) : "Furnitureapp" %></title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %> 
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
  
  <body>
  <style>
  body{padding-top: 60px;}
  </style>
 
     <div class="col-xs-6 text-right">
        <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
      </div>
   <% if current_admin %>
  <%= render :partial => "layouts/header" %>
  <%else current_user%>
  <%= render :partial => "layouts/user" %>
  <%end%>
     <section>
       
     
     
       
      <div class="container">
        <%#= render :partial => "/layouts/notice" %>
        
        <div class="panel-body">
          <!-- <div id='ajax_loader_big_div'> 
            Loading <img alt=""  src="/assets/ajax-loader-big.gif"/>
          </di -->

          <%= yield%>
        </div>
      </div>
    </section>
  </body> 
  
  
 
  
  
</html>